.MoonLink {
  background-color: hsl(0, 3%, 35%);
  color: hsl(105, 86%, 62%);
  font-size: 1.25rem;
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 90vh;
  border: 0;
  box-shadow: 0 0 2rem 1rem hsl(324, 80%, 50%);

  list-style-type: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
