.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    hsl(240, 100%, 50%),
    hsl(240, 75%, 50%),
    hsl(240, 50%, 50%),
    hsl(240, 25%, 50%),
    hsl(120, 100%, 25%),
    hsl(120, 75%, 25%),
    hsl(120, 50%, 25%),
    hsl(120, 25%, 25%)
  );
}
