.main {
  background: linear-gradient(
    180deg,
    hsl(240, 50%, 55%),
    hsl(240, 50%, 60%),
    hsl(240, 50%, 65%),
    hsl(240, 50%, 70%),
    hsl(120, 100%, 25%),
    hsl(120, 75%, 25%),
    hsl(120, 50%, 25%),
    hsl(120, 25%, 25%)
  );

  border: 0.15rem solid red;
  border-radius: 1rem;

  margin-top: 2rem;
  padding: 1rem;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: hsl(51, 91%, 75%);
}
