.PlanetLink {
  background-color: hsl(178, 55%, 40%, 0.5);
  color: hsl(179, 76%, 70%);
  font-size: 1.5rem;
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100rem;
  box-shadow: 0 0 2rem 1rem hsl(51, 6%, 77%);

  padding-top: 2rem;
  text-align: center;
}
