.Header {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);

  padding-block: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Header h1 {
  margin-inline: auto;
  width: fit-content;
  font-weight: 500;
}
